.output {
    display: inline-block;
    font-size: 3.5em;
    color: white;
    /*border: 1px solid black;*/
    border-radius: 50px;
    background-color: teal;
    text-align: center;
    margin: 1em;
}

p {
    margin: 0;
    padding: .3em;
}

.button {
    padding: 1.8em;
    border: 0;
    background-color: cornflowerblue;
    font-size: 1.3em;
}
