.output {
    display: inline-block;
    font-size: 3.5em;
    color: white;
    /*border: 1px solid black;*/
    border-radius: 50px;
    background-color: teal;
    text-align: center;
    margin: 1em;
}

p {
    margin: 0;
    padding: .3em;
}

.button {
    padding: 1.8em;
    margin-top: 5px;
    border: 0;
    background-color: #EAD996;
    outline: none;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 30px;
    font-weight: 400;
}
.container {
    text-align: center;
}

.sunnyImage {
    background-image: url('../images/first_image.jpg');
}
